body {
    font-family: Arial, sans-serif;
/*    background: url('background-image.jpg') no-repeat center center fixed;*/
/*background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-size: cover;*/

    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.glass-effect {
/*    background: rgba(255, 255, 255, 0.1);*/
/*background: linear-gradient(to top, #30cfd0 0%, #330867 100%);*/
    background: #fff;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 20px;
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
    
}

.logout-container, .settings-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 400px;
    width: 100%;
    text-align: center;
}
h2 {
    color: #fff;
    margin-bottom: 20px;
}
 form label {
    display: block;
    color: #fff;
    margin-top: 10px;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

