

body {
    font-family: Arial, sans-serif;
/*    background: linear-gradient(to right, #74ebd5, #ACB6E5);*/
/*    background: #002661;*/
 /*background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,54,121,1) 35%, rgba(0,212,255,1) 100%); */
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);

    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}

form label {
    display: block;
    color: #fff;
    margin-top: 10px;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
}

.btn {
/*    background-color: #4CAF50;*/
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: white;
    padding: 12px 20px;
    margin-top: 20px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    width: 100%;
}

.btn:hover {
    background-color: #45a049;

}
  
  /*footer {
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: white;
    text-align: center;
/*    padding: 15px 0;*/
}
*/